div{
    height:500 px;
    width:800px;
    background-image: url(tom.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    font-size:100px;
    font-family:impact;
    background-clip:text;
    text-align:center;
    color:transparent;
    -webkit-background-clip: text;

}